

body {background-color: #1F2841;}

.container-opening-screens
{

    width: 80%;
    margin: auto;
    min-height: 600px;
    padding-top: 100px;
}


.logo
{
    width: 40%;
    margin: auto;
    min-height: 100px;
    padding-bottom: 50px;
}


a
{
    text-decoration: none;
}

.login-button
{
    padding: 1px;
    background-color: #e8eff1;
    width: 60%;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 20px;
    border: solid;
    border-width: 2px;
    border-color: #2927b9;
}




.register-button 
{
    clear: both;
    padding: 1px;
    background-color: #e8eff1;
    width: 60%;
    margin: auto;
    border-radius: 50px;
    border: solid;
    border-width: 2px;
    border-color: #2927b9;
}

.login-button, .register-button p
{
    color: #2927b9;
    text-align: center;
    font-family: sans-serif;
}

.register-button:hover {
    background-color: #2927b9;
    border-color: #e8eff1;
  }

.register-button:hover p{
    color: #e8eff1;
  }


.login-button:hover {
    background-color: #2927b9;
    border-color: #e8eff1;
  }

.login-button:hover p{
    color: #e8eff1;
  }


/*  Code for the login page starts here */

.forgot-and-register {
    margin-top: 50px;
}


.forgot-and-register p {
    color: white;
    font-family: sans-serif;
    text-align: center; 
}

.email-field
{
    padding: 1px;
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}




.password-field
{
    clear: both;
    padding: 1px;
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 40px;
}

.password-field p
{
    font-family: sans-serif;
    color: #969faa;
    margin-left: 10px;

}

.email-field p
{
    font-family: sans-serif;
    color: #969faa;
    margin-left: 10px;
}

/*  Code for the register page starts here */


.container-later-screens
{
    width: 80%;
    margin: auto;
    min-height: 600px;
    padding-top: 25px;
}

.container-progress-bar
{
    width: 100%;
    
}

.logo-small
{
    width: 16%;
    margin: auto;
    min-height: 100px;
    padding-bottom: 50px;
}


.continue-button
{
    padding: 1px;
    background-color: #e8eff1;
    width: 60%;
    margin: auto;
    border-radius: 50px;
    margin-bottom: 20px;
    border: solid;
    border-width: 2px;
    border-color: #2927b9;
}

.continue-button p
{
    font-family: sans-serif;
    color: #2927b9;
    text-align: center;
}

.continue-button:hover {
    background-color: #2927b9;
    border-color: #e8eff1;
}

.continue-button:hover p{
    color: #e8eff1;
}


input[type=text], input[type=password] 
{
    padding: 1px;
    background-color: white;
    width: 100%;
    margin: auto;
    min-height: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

input{

    text-indent: 10px;
}

input:focus {
    box-shadow: 0px 0px 5px 5px #1998D5;
      
    /* Visible in Windows high-contrast themes */
    outline-color: transparent;
    outline-width: 2px;
    outline-style: dotted;
    }


